* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.box-api {
    width: 455px;
    height: 270px;
    border-radius: 15px;
    background-color: hsl(217, 19%, 24%);
    position: relative;
}

.title {
    color: hsl(150, 100%, 66%);
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 33px;
    letter-spacing: 3px;
}

.content {
    padding: 20px;
}

.pattern-divide {
    width: 390px;
    position: absolute;
    right: 37px;
    top: 208px;
    bottom: 0;
}

.button {
    border-radius: 50px;
    position: absolute;
    top: 246px;
    margin-left: -25px;
    margin-bottom: -21px;
    padding-left: 20px;
    padding-top: 20px;
    border: none;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: hsl(150, 53%, 44%);
}

.icon-dice {
    left: -10px;
    position: relative;
    top: -7px;
}


@media screen and (max-width:700px) {
    .box-api {
        width: 300px;
        height: 250px;
    }

    .title {
        font-size: 12px;
    }

    .content {
        font-size: 18px;
        padding-bottom: 0;
    }

    .pattern-divide {
        width: 245px;
        top: 199px;
        left: 24px;
    }

    .button {
        top: 226px;
        margin-left: -26px;
    }
}